@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Estonia', cursive;
  font-weight: bold;
}

/* Header Section */
header {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: grey
}

#counter {
  font-size: 20px;
  margin: -55px 0 0 -100px;
}

.navbar {
  margin-top: -50px;
  margin-left: -140px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #739d76;
  font-family: 'Estonia', cursive;
  font-size: 30px;
  margin-left: 20px;
}

.nav-link:hover {
  font-size: 50px;
}

.dropdown-item {
  text-align: center;
}

.logo {
  background-image: url(./img/logo-dog.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  height: 80px;
  width: 80px;
  background-size: contain;
  border-radius: 50%;
}

.logo:hover {
  background-size: cover;
}

/* Main Section */
.main-section {
  height: 80vh;
}

/* Footer Section */
.footer {
  background-color: grey;
  padding: 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.footer p {
  font-family: 'Estonia', cursive;
  font-size: 30px;
  margin: 0;
}
